html, body {
    /* margin: -3px; */
    scale: 1.007;
    max-height: 100vh;
    height: 100%;
    padding: 0;
  }

.custom-modal {
    max-width: 400px; 
    margin: auto; 
    overflow-y: auto; 
}

ion-select {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 44px;
}

/* for selected holiday dates */
.date-time .holiday-date {
  background-color: #ffeb3b; /* Highlight color */
  color: #000; /* Text color */
  border-radius: 50%; /* Make the highlight rounded */
}

/* Additional styling to ensure readability */
.date-time .holiday-date:hover {
  background-color: #fdd835; /* Darker color on hover */
  color: #000;
}


/* ion-datetime.md::part(calendar-day )
ion-datetime.md::part(calendar-day active):focus {
  border-radius: 50%;
  background-color: rgb(154 209 98 / 0.2);
} */


/* ion-datetime.md::part(calendar-day):focus {
  color: #909090;
  --wheel-highlight-background:'#909090';

} */



/* local holiday modal table */

/* holiday-modal.css */

.table-container {
  padding: 16px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #FFF7F1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ffffff;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

ion-button {
  font-size: 0.9rem;
  margin: 0;
}

.animate__animated {
  animation-duration: 1.8s;
}

.animate__bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}