/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --ion-background-color: #ecf9ff;    
    --ion-font-family: "Noto Sans", sans-serif;
    --no-scroll: hidden;
    --primary-color: inherit;
    --time-picker-number-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --time-picker-number-color: white;
  }
}

ion-item{
    --background:inherit
}

ion-content::part(scroll)::-webkit-scrollbar {
display: none;
}

ion-content::part(scroll) {
-ms-overflow-style: none;
scrollbar-width: none;
}

::-webkit-scrollbar-track {
    background: #891f1f; 
}

::-webkit-scrollbar-thumb {
    background: #350404;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ef4c4c;
}

* {
    scrollbar-width: none;
    scroll-snap-type: proximity;
    scrollbar-color: #979393 #f1f1f1; 
}


body::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
  }
  
  body {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 72, 72, 0.5); 
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent; 
  }

  html, body {
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; 
  }
  
  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
  }
  
  html::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    background: transparent; 
  }

  